In [ ]:
#installing psycopg2 package

!pip install psycopg2

In [ ]:
#importing psycopg2 and pandas library

import psycopg2
import pandas as pd

In [ ]:
# defining a function to create database

def create_database():
    #connect to default database
    conn = psycopg2.connect("host = localhost dbname = postgres user = postgres password = arun123")
    conn.set_session(autocommit = True)
    cur = conn.cursor()
    
    #creating a database
    cur.execute("DROP DATABASE formula1")
    cur.execute("CREATE DATABASE formula1")
    
    #close connection to default database
    conn.close()
    
    #connect to new database
    conn = psycopg2.connect("host = localhost dbname=formula1 user = postgres password= arun123")
    cur = conn.cursor()
    
    return cur, conn

In [ ]:
# defining a function to drop tables

def drop_tables(cur,conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [ ]:
# defining a function to create tables

def create_tables(cur,conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [ ]:
#converting a csv file into DataFrame using pandas

Drivers =  pd.read_csv("/Users/arunk/OneDrive/Desktop/db using py/grand prix/GrandPrix_drivers_details_1950_to_2022.csv")

In [ ]:
Laps =  pd.read_csv("/Users/arunk/OneDrive/Desktop/db using py/grand prix/GrandPrix_fastest_laps_details_1950_to_2022.csv", encoding='latin-1')

In [ ]:
Records = pd.read_csv("/Users/arunk/OneDrive/Desktop/db using py/grand prix/GrandPrix_races_details_1950_to_2022.csv", encoding='latin-1')

In [ ]:
#getting cursor and connection from function create_database

cur,conn = create_database()

In [ ]:
#creating tables

create_table_driver = ("""CREATE TABLE IF NOT EXISTS Drivers(
Driver VARCHAR PRIMARY KEY,
POS int,
Nationality VARCHAR,
Car VARCHAR,
PTS float,
Year int)""")

cur.execute(create_table_driver)
conn.commit()

In [ ]:
create_table_laps =("""CREATE TABLE IF NOT EXISTS Laps(
Grand Prix VARCHAR,
Driver VARCHAR ,
time TIMESTAMP,
Car VARCHAR,
Year int)""")

cur.execute(create_table_laps)
conn.commit()

In [ ]:
create_table_records =("""CREATE TABLE IF NOT EXISTS Records(
Grand Prix VARCHAR,
Date DATETIME,
Winner VARCHAR ,
laps int,
time TIMESTAMP,
Car VARCHAR,
Year int)""")

cur.execute(create_table_records)
conn.commit()

In [ ]:
insert_table_driver = ("""INSERT INTO Drivers(
Driver,
POS,
Nationality,
Car,
PTS,
Year)
VALUES (%s,%s,%s,%s,%s,%s)
""")

In [ ]:
for i, row in Drivers.iterrows():
    cur.execute(insert_table_driver, list(row))

In [ ]:
insert_table_laps =("""INSERT INTO Laps(
Grand Prix ,
Driver  ,
time ,
Car ,
Year )
VALUES(%S,%S,%S,%S,%S)""")

In [ ]:
for i, row in Laps.iterrow():
    cur.execute(insert_table_laps, list(row))

In [ ]:
insert_table_records =("""INSERT INTO Records(
Grand Prix ,
Date ,
Winner,
laps,
time ,
Car ,
Year )
VALUES (%S,%S,%S,%S,%S,%S,%S)""")

In [ ]:
for i,row in Records.iterrow():
    cur.execute(insert_table_records, list(row))

In [ ]:
conn.commit()